# Method Vs Attribute

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("http://bit.ly/imdbratings" )
df.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [6]:
df.shape

(979, 6)

## Method

###### Methods are like an actions.

###### Methods ends with parentheses, while attributes donâ€™t

In [6]:
# Describe will give you all numeric columns - statistic measure distribution
df.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

## Attribute

###### Attribute are just like a description.

In [7]:
df.shape

(979, 6)

In [8]:
df.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [14]:
df.title

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 979, dtype: object

In [20]:
df.axes

[RangeIndex(start=0, stop=979, step=1),
 Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
        'actors_list'],
       dtype='object')]

###### Examples of Attributes:-

index
columns
axes
dtypes
size
shape
ndim
empty
T
values

We know df is a dataframe and as a dataframe it has certain methods and attribute simply because it is a dataframe.